html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	font:14px/1.4 Arial, Helvetica,  sans-serif;
	color:#727274;
	background:#ecf0f1;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.center{
	text-align:center;
}
h1{
	text-transform:uppercase;
	font-size:30px;
	color:#fff;
	font-weight:400;
}
.wrapper{
}
.content{
	width:824px;
	margin:0 auto;
	padding:0px 18px;
}
/*Header*/
.header{
	padding:21px 0px;
	background:#27ae60;
}
.logo{
	float:left;
	display:inline-block;
	vertical-align:top;
}
.logo img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.nav{
	float:right;
	padding-top:12px;
	font-size:0px;
	list-style: none;
}
.nav *{
	font-size:14px;
}
.nav li + li{
	margin-left:16px;
}
.nav li{
	display:inline-block;
	vertical-align:top;
}
.nav a{
	display:block;
	text-decoration:none;
	color:#fff;
	line-height:1.4;
	-moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
.nav a:hover, 
.nav a.active{
	color:#000;
}
/*end header*/
/*top-banner*/
.top-banner{
	padding:130px 0px 80px;
	background:#27ae60;
}
.top-banner h1{
	margin-bottom:70px;
}
.top-banner h1 span{
	font-weight:700;
}
.btn{
	display:inline-block;
	vertical-align:top;
	padding:13px 75px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:5px;
	background:#2ecc71;
}
/*end top-banner*/